@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-colour: #1A1310;
    --text-primary: #E6DCCA;
    --text-secondary: #A89F91;

    /* Typography */
    --font-main: 'Segoe UI', system-ui, -apple-system, sans-serif;
}

body {
    padding: 0;
    background: radial-gradient(circle at center,
            #231a16 00%, var(--bg-colour) 70%);
    margin: 0 auto;
}

#bodyOverlay {
    max-width: 750px;
    margin: 0 auto;
    color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Space Mono", monospace;
}

p {
    font-family: "Inter", sans-serif;
    color: var(--text-secondary);
}

a {
    color: var(--text-primary);
}

section {
    margin: 80px 0;
}

#hero {
    text-align: center;
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project {
    border-radius: 8px;
    border: 1px dotted #E6DCCA;
    padding: 10px;
    margin: 20px;
}